{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Часть 1 - Урок 6{% endblock %}
{% block les_styles %}
  <link href="{% static "css_les/p1l6.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 block">
        <h1>Header</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-push-4 block">
        <h2>content</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 1</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 2</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 3</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 4</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 5</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel">
              <h4>Good 6</h4>
              <img src="http://placehold.it/800x400" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium ad at beatae debitis
                dignissimos dolorum et, eum hic illum itaque labore nam natus nostrum nulla numquam officiis perferendis
                quae quisquam quo sint suscipit voluptatum! Incidunt necessitatibus praesentium quidem!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-pull-8 block">
        <h2>sidebar</h2>
        <ul class="list-unstyled">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
          <li><a href="#">Item 5</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block">
        <h2>footer</h2>
      </div>
    </div>
  </div>
{% endblock %}